<div class="container-1">
  <div class="Main-1">
    <div class="TextContainer-1"><p class="text-1">Total CO2 Stored</p></div>
    <hr />

    <div class="NumberImage-1">

      <div class="number"><p>111111 Tons</p></div>

     
      <div class="Image-1">
      
        <img src="../../assets/Image/Image-1.png" alt="Image" />
      
      </div>
    
    </div>

    <div class="Img-2">

    <img src="../../assets/Image/MicrosoftTeams-image (1).png" alt="">
      <!-- <p class="text-2">vs qtr target</p> -->
      <span style="font-size: x-small;">vs qtr target</span>
      
    </div>

    <div class="Tabel-Conatiner-1">

      <div class="Box-1">

        <div class="Names-1"><p  style="border-bottom: 1px solid black; " *ngFor="let item of Names">{{item}}</p></div>


        <div class="Values-1" ><p style="border-bottom: 1px solid black;" *ngFor="let item of Values">{{item}} Tons</p></div>
        
      </div>

    </div>
  </div>
</div>
