@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.TABLE-1 {

  display: flex;
  justify-content: space-between; 
  width: 30%;
  border-right: 1px solid black;
  margin: 10px;
  
}



.tabel1-content {
  flex: 1;
  width: 100%;
  overflow: auto;
  margin-right: 40px;
}


.tabel2-content {
  width: 100%;
  overflow: auto;
  margin-right: 20px;

  margin-left: 30px;
}

.tabel3-content {
  width: 100%;
  overflow: auto;
  margin-right: 20px;

  margin-left: 30px;
}




.TableChart-3 {
  display: flex;
justify-content: space-between;
/* margin: 10px; */
/* border: 2px solid black; */
width: 50%;
margin-left: 10px;
}

.TableChart-2{
  margin-left:10px;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  width: 50%;
}



.Main{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  border: 2px solid black;
  border-top: none;
}

.both-class{
  display: flex;
  justify-content: space-between;
  width: 70%;

  border-right: 1px solid black;
  
  /* height: 30%;  */
}

.co2
{
  height: 40px;
border: 2px solid black;
display: flex;
align-items: center; 
/* border-bottom: none; */
}

.text{
  font-family: 'Poppins';
  font-weight: 600;
  font-size:16px;
}



.edit-1{
  height: 10px;
}


#MyChart-1{

  
  width: 150px;
}



#MyChart-2{

 
  width: 150px;


}



#MyChart-3{

  margin-left: 20px;
  width: 150px;
}



.TextButton-1,.TextButton-2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}




.edit-box {
  padding: 10px;
  margin: 0;
  background-color: #f1e9e9;
  box-sizing: border-box;
  border: 2px solid grey;
  color: #01ff2b;
  height: 35px;
  width: 50px;
  border-radius: 5px;
}


.Names{
  font-family: 'Poppins';
  font-weight: 500;
  font-size:12px;

}


.Font-1{
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
}


.Font-2{

  font-family: 'Poppins';
  font-weight: 500;
  font-size:12px;
}