<h1>Cloverfield Project Insights</h1>
<app-component-drop-down></app-component-drop-down>


<div class="parent" style="display: flex; flex-basis: 30% 70%; justify-content: space-between; padding: 10px;">


  <app-component-3></app-component-3>



  <div class="container">

    <div class="co2">
      <p class="text">Total CO2 stored per location</p>
    </div>
    <div class="Main" >
      <div class="TABLE-1">
  
        <div class="canvas">
          <p><span class="Names">Storage site</span></p>
          <div class="Canvas-1">
            <canvas id="MyChart-1"></canvas>
          </div>
  
        </div>
  
        <div class="tabel1-content">
          <table
            mat-table
            [dataSource]="Total"
            class="mat-elevation-z0"
            matSort
            (matRowClick)="onRowClicked($event)"
          >
            <ng-container matColumnDef="lable">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="col-headers"
              >
                <span class="sz1"></span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="Font-1">{{ element.name }}</span>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="num">
              <th mat-header-cell *matHeaderCellDef>
                <span class="sz1"></span>
              </th>
              <td mat-cell *matCellDef="let element">
            
                <span class="Font-2">{{element.Val }}</span>
              
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="onRowClicked(row)"
            ></tr>
          </table>
        </div>
  
      </div>
  
        <!--  -->
        <!--  -->
        <!--  -->
  
        <div class="both-class">
  
        <div class="TableChart-2">
  
          <div class="canvas">
           
            <div class="TextButton-1">
              <p><span class="Names">Wells</span></p>
              <button mat-raised-button color="primary" (click)="editButtonClicked1()" class="edit-box">{{Wb1}}</button>
            </div>

            <div class="Canvas-2">
            <canvas id="MyChart-2" ></canvas>
            </div>

          </div>
  
          <div class="tabel2-content">
            <table
              mat-table
              [dataSource]="Wells"
              class="mat-elevation-z0"
              matSort
              (matRowClick)="onRowClicked($event)"
            >
              <ng-container matColumnDef="lable">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="col-headers"
                >
                  <span class="sz1"></span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="Font-1">{{ element.wname }}</span>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="num">
                <th mat-header-cell *matHeaderCellDef>
                  <span class="sz1"></span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <input
                    #inputField
                    class="edit-box"
                    *ngIf="editflag1"
                    matInput
                    [value]="element.wval"
                    [(ngModel)]="element.wval"
                    placeholder="1"
                    [ngStyle]="{
                      'background-color': element.wval < 0 ? 'Red' : 'grey'
                    }"
                  />
                  <span *ngIf="!editflag1" class="Font-2">{{
                    element.wval < 0 ? 1 : element.wval
                  }}</span>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="onRowClicked(row)"
              ></tr>
            </table>
          </div>
        </div>
  
        <!--  -->
        <!--  -->
        <!--  -->
  
        <div class="TableChart-3">
         
          <div class="canvas">
           
            <div class="TextButton-2">
              <p><span class="Names">Reserviour</span></p>
              <button mat-raised-button color="primary" (click)="editButtonClicked2()" class="edit-box">{{Rb1}}</button>
            </div>
           
            <div class="Canvas-3">
            <canvas id="MyChart-3" ></canvas>
            </div>
          </div>
  
          <div class="tabel3-content">
            <table
              mat-table
              [dataSource]="Res"
              class="mat-elevation-z0"
              matSort
              (matRowClick)="onRowClicked($event)"
            >
              <ng-container matColumnDef="lable">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="col-headers"
                >
                  <span class="sz1"></span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="Font-1">{{ element.resname }}</span>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="num">
                <th mat-header-cell *matHeaderCellDef>
                  <span class="sz1"> </span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <input
                    #inputField
                    class="edit-box"
                    *ngIf="editflag2"
                    matInput
                    [value]="element.resval"
                    [(ngModel)]="element.resval"
                    placeholder="1"
                    [ngStyle]="{
                      'background-color': element.resval < 0 ? 'Red' : 'grey'
                    }"
                  />
                  <span *ngIf="!editflag2" class="Font-2">{{
                    element.resval < 0 ? 1 : element.resval
                  }}</span>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="onRowClicked(row)"
              ></tr>
            </table>
          </div>
        </div>
  
    </div>
  </div>
  
</div>