@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Main-1{
    display: flex;
    justify-content: space-between;

    max-width: 45%;

    margin-left: 40px;
}


.Upper-text{
    font-weight: bold;
    font-size: xx-large;
    font-family: "Poppins";
  }


  .Lpper-text{
    
    font-size: medium;
    font-weight: bold;
  }

.Display-Text{
    display: flex;
    justify-content: space-between;

    max-width: 24.4%;

    margin-left: 40px;

    font-size: medium;

    font-weight: 500;
}


.button-1{
    padding:10px
}

.BTN-1::before{
    opacity: 0.5;
    cursor: not-allowed;
    cursor: not-allowed;
    background-color: #147d64;
    color: white;
}

.BTN-1:hover{
    opacity: 0.5;
    cursor: not-allowed;
    cursor: not-allowed;
    background-color: #147d64;
    color: white;
}

.text-Field{
    padding: 10px;
    margin-left: 32px;
}